.about-us {
    display: flex;
    min-height: 45rem;
    overflow: hidden;
}

.about-us__image {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: var(--color-white);
    position: relative;
}

.about-us__image div {
    padding: 2rem 4rem;
    
    flex: 1;
    display: flex;
    align-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
} 

.about-us__image-sushi3 {
    border-bottom: .5rem;
    
    background-image: url("../../assets/about_bg1.png");
}

.about-us__image-sushi2 {
    background-image: url("../../assets/about_bg2.png");
}

.about-us__image-sushi3 img {
    width: 14.0625rem;
    height: 12.5rem;
}

.about-us__image-sushi2 img {
    width: 15rem;
    height: 10rem;
}

.about-us__button {
     position: absolute;
     right: 0;

     padding: .75rem 2rem;
     min-height: 4rem;

     background-color: var(--secondary-color);
     border-radius: 2rem 0 0 2rem;
     border: 0;
     outline: 0;

     font-family: var(--plus-jakarta-sans);
     color: var(--color-white);
     font-weight: 500;
     font-size: 1.125rem;
     line-height: 1.5;

     cursor: pointer;
}

.about-us__button img {
    object-fit: contain;
    margin-left: 2rem;
}

.about-us__content {
    padding: 4rem;

    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}