.hero {
    display: flex;
    min-height: calc(100vh - 4.625rem);
    overflow: hidden;
}

.hero-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
}

.hero-image img {
    width: 120%;
    height: 100%;
    object-fit: contain;
}

.hero-image__overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: -1;
}

.hero-image h2 {
    position: absolute;
    /* bottom: 0; */
    bottom: 0rem;
    /* bottom: 12.5rem; */
    padding: 1.25rem;

    font-family: var(--playfair-display);
    font-weight: 700;
    font-size: 7.5rem;
    /* line-height: 8.625; */
    line-height: 1.1;
    color: #fff;
}

.hero-content {
    flex: 1.22;
    /* flex: 1.236; header */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hero-content-info {
    padding: 4rem;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-content-info h1 {
    font-size: 5rem;
    font-weight: 600;
    font-family: var(--playfair-display);
    color: var(--secondary-color);
}

.hero-content-info p {
    margin: 2rem 0 0 2rem;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    font-size: 1.125rem;
    font-weight: 400;
}

.hero-content__buttons {
    margin: 2.5rem 0 0 2.5rem;
    display: flex;flex-wrap: wrap;
    gap: 2.25rem;
}

.hero-content__order-button {
    padding: 1.25rem;
    border: none;
    outline: none;
    border-radius: 2.25rem;
    min-width: 13.25rem;
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.25;
    cursor: pointer;
}

.hero-content__play-button {
    border: none;
    outline: none;
    background: transparent;

    display: flex;align-items: center;

    font-size: 1rem;
    line-height: 1.125;
    color: var(--black-200);
    font-family: var(--plus-jakarta-sans);
    cursor: pointer;
}

.hero-content__play-button img {
    margin-right: .75rem;
    width: 2.875rem;
    height: 2.875rem;
    object-fit: contain;
}

.hero-content__testimonial {
    padding: 2rem 4rem;

    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.hero-content__customer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: .625rem;
}

.hero-content__customer h4 {
    font-size: 4rem;
    font-weight: 400;
    font-family: var(--playfair-display);
}

.hero-content__customer p {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    opacity: 0.5;
}

.hero-content__review {
    flex: 1;
    gap: 0.625;
    /* edited by me */
    display: flex;
    align-items: center;

    padding-left: 1.25rem;
    border-left: 1px solid rgba(2, 2, 2, 0.1);
    min-width: 12.5rem;
}

.hero-content__review img {
    width: 2.625rem;
    height: 2.625rem;
    object-fit: contain;
}

.hero-content__review p {
    padding-left: .5rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: var(--plus-jakarta-sans);
    color: var(--secondary-color);
    opacity: 0.8;
}