.popular-foods {
    padding: 4rem;

    display: flex;
    flex-direction: column;

    background-color: var(--primary-color);
    background-image: url("../../assets/popular_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    overflow: hidden;
}

.popular-foods__title {
    font-size: 3.5rem;
    font-weight: 600;
    font-family: var(--playfair-display);
    line-height: 4.875rem;
    color: var(--color-white);
    text-align: center;
}

.popular-foods__filters {
    margin-top: 3rem;
    width: 100%;
    overflow-x: auto;

    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.popular-foods__filter-btn {
    padding: 0.625rem 1.75rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .625rem;

    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3rem;

    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    font-family: var(--plus-jakarta-sans);
    color: var(--color-white);
    cursor: pointer;
}

.popular-foods__filter-btn img {
    width: 2.25rem;
    height: 2.25rem;
    object-fit: contain;
}

.popular-foods__filter-btn.active {
    background: var(--color-white);
    color: var(--primary-color);
}

.popular-foods__filter-btn:hover {
    background: var(--color-white);
    color: var(--primary-color);
}

.popular-foods__catalogue {
    margin-top: 4rem;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 3.5rem;
}

.popular-foods__button {
    width: fit-content;

    padding: 1.25rem 1.875rem;
    margin: 5rem auto 0;

    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5;
    font-family: var(--plus-jakarta-sans);
    color: var(--color-white);

    border: none;
    outline: none;
    background: var(--secondary-color);
    border-radius: 4rem;
    cursor: pointer;
}

.popular-foods__button img {
    width: .875rem;
    height: .875rem;
    object-fit: contain;

    margin-left: 1.25rem;
}

.popular-foods__card {
    padding: 2.375rem;
    min-width: 16.25rem;
    height: fit-content;

    display: flex;
    align-items: center;
    flex-direction: column;

    border-radius: 2.25rem;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.popular-foods__card-image {
    width: 6.875rem;
    height: 5.25rem;
    object-fit: contain;
}

.popular-foods__card-title {
    margin-top: 3rem;

    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: var(--playfair-display);
    color: var(--color-white);
    text-align: center;
}

.popular-foods__card-details {
     width: 100%;
     margin-top: 2rem;
}

.popular-foods__card-rating {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.popular-foods__card-rating img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}

.popular-foods__card-rating p {
    font-size: 1.25rem;
    font-weight: 300;
    font-family: var(--plus-jakarta-sans);
    color: var(--color-white);
}

.popular-foods__card-price {
    font-size: 1.25rem;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    color: var(--color-white);
}

.popular-foods__card.active-card {
    background: var(--color-white);
    min-width: 21.25rem;
}

.popular-foods__card.active-card .popular-foods__card-image {
    width: 13.375rem;
    height: 10rem;
}
.popular-foods__card.active-card .popular-foods__card-title {
    color: var(--black-500);
    font-size: 2rem;
}
.popular-foods__card.active-card .popular-foods__card-rating img {
    width: 2rem;
    height: 2rem;
}
.popular-foods__card.active-card .popular-foods__card-rating p {
    font-size: 1.5rem;
    color: var(--gray-100);
}
.popular-foods__card.active-card .popular-foods__card-price {
    font-size: 1.5rem;
    color: var(--secondary-color);
}